---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Camp Registration Systems">
	<main>
		<h1>Welcome to <span class="text-gradient">Camp Registration Systems</span></h1>
		<p class="about">
			Camp management, payments, emails, and storage via our easy to use API.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="mailto:info@campregistrationsystems.com"
				title="Payments"
				body="Seamless credit card payments, Apple Pay, Link, &amp; Google Pay. ðŸ’¸"
			/>
			<Card
				href="mailto:info@campregistrationsystems.com"
				title="Event Driven"
				body="Drive integrations with webhooks and our custom event bus. â†©"
			/>
			<Card
				href="mailto:info@campregistrationsystems.com"
				title="Your Camp. Your Website"
				body="No lock-in to our templates. Use your own and integrate with our headless API. ðŸŒ"
			/>
			<Card
				href="mailto:info@campregistrationsystems.com"
				title="Experince"
				body="Run your camp with camp experts. We've run camps on our platform for 25 years. ðŸ’ªï¸"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.about {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.about code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.about strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
